* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

header {
  text-align: center;
  padding: 1rem;
  background-color: blue;
  color: white;
  text-shadow: 0 0 5px black;
  margin-bottom: 2rem;
  overflow: hidden;
  position: relative;
  isolation: isolate;
}

main {
  flex: 1;
}

footer {
  background-color: rgba(209, 242, 255, 0.377);
  text-align: center;
  padding: 1rem;
}

.city-input {
  margin: 0 auto;
  width: fit-content;
  display: grid;
  gap: 0.5rem;
  border: solid 1px skyblue;
  border-radius: 10px;
  padding: 1rem;
  margin-bottom: 2rem;

  & label {
    font-size: 1.75rem;
    justify-self: center;
  }

  & input {
    font: inherit;
    padding: 0.3rem;
    font-size: 1.25rem;
    border-radius: 10px;
  }

  & button {
    border: inherit;
    border-radius: inherit;
    padding: 0.25rem;
    background: rgba(209, 242, 255, 0.377);
    cursor: pointer;

    &:hover {
      background-color: rgb(209, 242, 255);
    }
  }
}

.headings {
  border-bottom: 1px solid skyblue;
  margin-bottom: 0.5rem;
  font-size: x-small;
  position: sticky;
  top: 0;
  background-color: white;
}

.weather-info {
  display: none;
  grid-template-columns: 1fr;
  overflow-y: scroll;
  height: 250px;
  margin: 0 10vw;
  position: relative;

  & div {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  & div:not(:first-child) {
    margin-bottom: 0.25rem;
    border-bottom: 1px solid rgba(209, 242, 255, 0.61);
  }
}

.cloud-wrapper {
  position: absolute;
  top: 20px;
  animation: move 30s linear infinite;
  /* animation-direction: alternate; */
  z-index: -1;
}

.cloud {
  position: absolute;
  width: 20px;
  height: 20px;
  filter: blur(10px);
  background: #fff;
  border-radius: 25px;
  box-shadow: 10px 10px 20px 0px #fff, -10px -10px 20px 0px #fff,
    10px -15px 10px 0px #fff, -15px 10px 0 0 #fff, 5px 20px 0 0 #fff,
    -30px -60px 100px 0 #fff, 40px 10px 0 0 #fff, -30px 30px 0 0 #fff;
  animation: bounce 4s ease-in-out infinite;
  animation-direction: alternate;
}

.cloud::before,
.cloud::after {
  content: "";
  position: absolute;
  background: #fff;
  border-radius: 50%;
}

.cloud::before {
  width: 30px;
  height: 30px;
  left: -30px;
  top: 0;
}

.cloud::after {
  width: 60px;
  height: 60px;
  right: -30px;
  top: 0;
}

.cloud-two {
  left: -100px;
  animation-duration: 6s;
  animation-delay: -7s;
}
.cloud-three {
  left: -220px;
  animation-duration: 10s;
  animation-delay: -3s;
}
.cloud-four {
  left: -350px;
  animation-duration: 5s;
  animation-delay: -5s;
}
.cloud-five {
  left: -460px;
  animation-duration: 2s;
  animation-delay: -8s;
}

@keyframes move {
  0% {
    transform: translateX(-15vw);
  }
  100% {
    transform: translateX(170vw);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(-20px);
  }
}
